In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
trip_df = pd.read_csv(
    'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz')

zone_df = pd.read_csv(
    'https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv')

/tmp/ipykernel_19487/2975296786.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  trip_df = pd.read_csv(

In [3]:
trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449063 entries, 0 to 449062
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               389920 non-null  float64
 1   lpep_pickup_datetime   449063 non-null  object
 2   lpep_dropoff_datetime  449063 non-null  object
 3   store_and_fwd_flag     389920 non-null  object
 4   RatecodeID             389920 non-null  float64
 5   PULocationID           449063 non-null  int64
 6   DOLocationID           449063 non-null  int64
 7   passenger_count        389920 non-null  float64
 8   trip_distance          449063 non-null  float64
 9   fare_amount            449063 non-null  float64
 10  extra                  449063 non-null  float64
 11  mta_tax                449063 non-null  float64
 12  tip_amount             449063 non-null  float64
 13  tolls_amount           449063 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  449063 non-null  float64
 16  total_amount           449063 non-null  float64
 17  payment_type           389920 non-null  float64
 18  trip_type              389920 non-null  float64
 19  congestion_surcharge   389920 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 68.5+ MB

In [7]:
zone_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [9]:
print(trip_df.shape)
print(zone_df.shape)

(449063, 20)
(265, 4)

In [4]:
trip_df['lpep_dropoff_datetime'] = pd.to_datetime(
    trip_df['lpep_dropoff_datetime'])

trip_df['lpep_pickup_datetime'] = pd.to_datetime(
    trip_df['lpep_pickup_datetime'])

In [ ]:
print(trip_df.info())
print(zone_df.info())

In [6]:
# How many taxi trips were totally made on September 18th 2019?
# Tip: started and finished on 2019-09-18.

# Remember that lpep_pickup_datetime and lpep_dropoff_datetime columns are in the format timestamp (date and hour+min+sec) and not in date.

# Hint: You can use the .dt accessor to get the date part of a timestamp column.

tot = trip_df[(trip_df['lpep_pickup_datetime'].dt.date == pd.to_datetime('2019-09-18').date())
              & (trip_df['lpep_dropoff_datetime'].dt.date == pd.to_datetime('2019-09-18').date())]

print(tot.shape)
print(len(tot))

(15612, 20)
15612

In [15]:
trip_df.shape
# trip_df.info()

(449063, 20)

In [8]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [ ]:
trip_schema = pd.io.sql.get_schema(trip_df, name='trips', con=engine)
zone_schema = pd.io.sql.get_schema(zone_df, name='zones', con=engine)

print(trip_schema)
print(zone_schema)

In [11]:
trip_df.head(0)
zone_df.head(0)

Empty DataFrame
Columns: [LocationID, Borough, Zone, service_zone]
Index: []

In [13]:
# create table

trip_df.head(0).to_sql(name='trips',
                       con=engine, if_exists='replace', index=False)

zone_df.head(0).to_sql(name='zones',
                       con=engine, if_exists='replace', index=False)

0

In [14]:
zone_df.to_sql(name='zones', con=engine, if_exists='append', index=False)

265

In [16]:
trip_df.to_sql(name='trips', con=engine, if_exists='append',
               index=False, chunksize=100000)

4063