In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_parquet(
    'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet')

In [3]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
schema = pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine)

print(schema)

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [6]:
# create table

df.head(0).to_sql(name='yellow_taxi_data',
                  con=engine, if_exists='replace', index=False)

0

In [7]:
# how to insert data in chunks
# https://stackoverflow.com/questions/23103962/how-to-write-dataframe-to-postgres-table

chunksize = 100000

for i in range(0, df.shape[0], chunksize):
    df.iloc[i:i+chunksize].to_sql(name='yellow_taxi_data',
                                  con=engine, if_exists='append', index=False)